<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">Ashish</property>
    <property name="hibernate.connection.password">Ashish</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.ashish.notifyapp.api.models.Department"/>
    <mapping class="com.ashish.notifyapp.api.models.User"/>
    <mapping class="com.ashish.notifyapp.api.models.Post"/>
    <mapping class="com.ashish.notifyapp.api.models.Role"/>
    <mapping class="com.ashish.notifyapp.api.models.DepartmentUsers"/>
    <mapping class="com.ashish.notifyapp.api.models.PostsFrom"/>
    <mapping class="com.ashish.notifyapp.api.models.RoleUsers"/>
  </session-factory>
</hibernate-configuration>
